<div class="main nav">

	<div class="nav_left">
	
		<a class="nav_element" href="/"><p class="logo_text logo_left">Trash</p><p class="logo_text logo_right">Track</p></a>
		
	</div>

	<div class="nav_right">
	
		<a class="nav_element nav_link" href="/">Home</a>
		<a class="nav_element nav_link" href="/browse">Browse</a>
		
	</div>


</div>
