<!DOCTYPE html>

<html>

<head>

	<title>TrashTrack</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" media="screen" href="/style.css" />
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">

	{{!-- Favicon Stuff --}}
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=2b0rl4veER">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?v=2b0rl4veER">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?v=2b0rl4veER">
	<link rel="manifest" href="/site.webmanifest?v=2b0rl4veER">
	<link rel="mask-icon" href="/safari-pinned-tab.svg?v=2b0rl4veER" color="#5bbad5">
	<link rel="shortcut icon" href="/favicon.ico?v=2b0rl4veER">
	<meta name="apple-mobile-web-app-title" content="TrashTrack">
	<meta name="application-name" content="TrashTrack">
	<meta name="msapplication-TileColor" content="#2d89ef">
	<meta name="msapplication-TileImage" content="/mstile-144x144.png?v=2b0rl4veER">
	<meta name="theme-color" content="#ffffff">

</head>

<body>

	{{> nav NULL}}

	{{{body}}}

</body>

</html>