<div class="main manage create">


	<div class="create_input">


			<h2>Create</h2>

		<form action="/create" method="get">

			<input type="text" id="shows" value="Shows">Show Name <br>
			<input type="text" id="characters" >Show Characters <br>

			<input type="text" id="voice_actors">Show Voice Actors <br>
			<input type="text" id="studio" >Show Studio <br>

			<input type="text" id="create_year" >Show Year <br>

			<br><h3>Seasons</h3><br>
			<input type="radio" id="fall" name="season" value="fall"> <label for="fall">Fall</label> <br>
			<input type="radio" id="winter" name="season" value="winter"> <label for="winter">Winter</label> <br>
			<input type="radio" id="spring" name="season" value="spring"> <label for="spring">Spring</label> <br>
			<input type="radio" id="summer" name="season" value="summer"> <label for="summer">Summer</label> <br>
			

			<br> <input type="submit" value="Submit"><br>
		</form>

	</div>


</div>