<div class="main manage delete">


	<div class="user_delete">


			<h2>Delete</h2>

		<form action="/delete" method="post">



			<label for="show_id">Show ID:</label> <input type="number" name="show"><br>




			<br> <input type="submit" value="Submit"><br><br>
		</form>


		<form action="/delete" method="post">



			<label for="char_id">Character ID: </label> <input type="number" name="char"> <br>




			<br> <input type="submit" value="Submit"><br><br>
		</form>


		<form action="/delete" method="post">


			<label for="voice_id">Voice Actor ID: </label> <input type="number" name="voice"> <br>



			<br> <input type="submit" value="Submit"><br><br>
		</form>


		<form action="/delete" method="post">



			<label for="studio_id">Studio ID: </label> <input type="number" name="studio" > <br>



			<br> <input type="submit" value="Submit"><br><br>
		</form>

		<form action="/delete" method="post">



			<label for="season_id">Season ID: </label> <input type="number" name="season" > <br>



			<br> <input type="submit" value="Submit"><br><br>
		</form>


	</div>


</div>