<div class="main manage delete centered_text fades_in">

	<h2>Delete Row From Database</h2>
	<p>{{message}}</p>

	<div class="spacing3"></div>

	<div class="admin_panel">

		<form action="/delete" method="post">

			<p class="bold_text">Delete Character</p>
			<input type="number" name="character" placeholder="Character ID">
			<input class="link_button link_button_thin" type="submit" value="Submit">

		</form>

		<br>

		<form action="/delete" method="post">

			<p class="bold_text">Delete Voice Actor</p>
			<input type="number" name="voice_actor" placeholder="Voice Actor ID">
			<input class="link_button link_button_thin" type="submit" value="Submit">

		</form>

		<br>
	
		<form action="/delete" method="post">

			<p class="bold_text">Delete Show</p>
			<input type="number" name="show" placeholder="Show ID">
			<input class="link_button link_button_thin" type="submit" value="Submit">

		</form>

		<br>

		<form action="/delete" method="post">

			<p class="bold_text">Delete Studio</p>
			<input type="number" name="studio" placeholder="Studio ID">
			<input class="link_button link_button_thin" type="submit" value="Submit">

		</form>

		<br>

		<form action="/delete" method="post">

			<p class="bold_text">Delete Season</p>
			<input type="number" name="season" placeholder="Season ID">
			<input class="link_button link_button_thin" type="submit" value="Submit">

		</form>

	</div>

</div>