<div class="main centered_text fades_in">

	<div class="spacing5"></div>

	{{> site_banner}}
	
	<div class="spacing3"></div>
	
	<p>Welcome to TrashTrack! You can do stuff and things here, specifcally anime stuff and things.</p>
	<p>Please take a look around and maybe browse our database of anime information.</p>
	
	<div class="spacing3"></div>
	
	<a class="link_button" href="/browse">Browse for Anime</a>
	
</div>
