<div class="main read centered_text fades_in">

	<div class="browse_options">

		<div class="filter_group">

			<form action="/read" method="get">

				<p class="filter_header">Tables</p>

				<input type="radio" id="type_shows" name="type" value="show" checked> <label for="type_shows">Shows</label> <br>
				<input type="radio" id="type_characters" name="type" value="character"> <label for="type_characters">Characters</label>
				<br>
				<input type="radio" id="type_voiceActors" name="type" value="voice_actor"> <label for="type_voiceActors">Voice Actors</label> <br>
				<input type="radio" id="type_studio" name="type" value="studio"> <label for="type_studio">Studios</label> <br>
				<input type="radio" id="type_season" name="type" value="season"> <label for="type_season">Seasons</label> <br>

				<br><br>

				<input class="link_button" type="submit" value="Submit">

			</form>

		</div>

	</div>

	<div class="browse_results read_results">

		<table>

			<tr> {{#each headers}} <th>{{this}}</th> {{/each}} </tr>

			{{#each results}}
				<tr> {{#each this}} <td>{{this}}</td> {{/each}} </tr>
			{{/each}}

		</table>

	</div>


</div>