<div class="main browse centered_text fades_in">
	<h1>Update Show Information</h1>

	<br><br>

	<div class="admin-toolpanel">

		<form action="/update" method="post">

			<label>Show ID: </label> <input type="text" id="show_id" name="update">
			<br>
			<br>

			<label>Name: </label> <input type="text" id="show_name" name="update">
			<br>

			<label>Studio: </label> <input type="text" id="show_studio" name="update">
			<br>

			<label>Season: </label> <input type="text" id="show_season" name="update">
			<br>

			<label>Year: </label> <input type="text" id="show_year" name="update">
			<br>
			<br>
			<br>
			<br>

			<input class="link_button" id="admin_submit" type="submit" value="Submit">
			<br>
		</form>

	</div>

</div>