.spacing1 {
	margin: 0;
	margin-bottom: 1em;
}

.spacing2 {
	margin: 0;
	margin-bottom: 2em;
}

.spacing3 {
	margin: 0;
	margin-bottom: 3em;
}

.spacing4 {
	margin: 0;
	margin-bottom: 4em;
}

.spacing5 {
	margin: 0;
	margin-bottom: 5em;
}

.centered_text {
	text-align: center;
}


@keyframes fade_in {
	from { opacity: 0; }
    to { opacity: 1; }
}

.fades_in {
	opacity: 0;
	animation-name: fade_in;
	animation-delay: 0.25s;
    animation-duration: 0.75s;
    animation-fill-mode: forwards;
}


body {
	background-color: #272c38;
}

a, p, h1, h2, h3 {
	color: rgb(191, 191, 191);
	margin: 0;

}

a {
	font-family: 'Work Sans', sans-serif;
	font-size: 16pt;
	font-weight: bold;
}

p {
	font-family: 'IBM Plex Sans', sans-serif;
	font-size: 12pt;
	margin-bottom: 0.5em;
}

h1, h2, h3 {
	font-family: 'Work Sans', sans-serif;
	font-weight: bold;
	margin-bottom: 0.25em;
}

h1 {
	font-size: 32pt;
}

h2 {
	font-size: 28pt;
}

h3 {
	font-size: 24pt;
}


#site_banner {
	display: inline-block;
	margin: 0 auto; 
}


.main {
	display: block;
	width: 75%;
	min-width: 900px;
	position: relative;
	margin: 0 auto;
}

.nav {
	height: 5em;
	border-bottom: 1px rgba(255, 255, 255, 0.25) solid;
}

.nav_element {
	display: inline-block;
	text-decoration: none;
	margin: 0;
	margin-top: 2em;
}

.nav_element:hover {
	color: #02aaff;
}

.nav_left {
	position: absolute;
	left: 0;
	margin-left: 2em;
}

.nav_right {
	position: absolute;
	right: 0;
	margin-right: 2em;
}

.nav_link {
	margin-left: 2em;
}

.link_button {
	display: inline-block;
	border: 0.125em white solid;
	border-radius: 1em;
	padding: 1em 2em;
	text-decoration: none;
	font-weight: bold;
	font-size: 12pt;
	color: white;
}

.link_button:hover {
	background-color: #02aaff;
	border: 0.125em #02aaff solid;
	cursor: pointer;
}









